.DS_Store
**/build
**/*.iml
**/.gradle
.idea/
.gradle/
bin/
gen/
build/
captures/
reports/
*.iml
README.md
di.txt
1.c
local.properties
app/gradle.properties
app/version.properties
!**/src/**/build/
!**/ReactAndroid/build/
**/ReactAndroid/build/*
!**/ReactAndroid/build/downloads/
**/assets/smartrouter
